//
// Statusbar
//
.CodeMirror-theme--dark {
  
  .editor-statusbar {
    color: $color-text;
    padding: $width-gap-half $width-gap;
    text-align: right;
    background: $color-background;

  }

  .editor-statusbar span {
    display: inline-block;
    margin-left: 1em;
  }

  .editor-statusbar .lines::before {
    content: 'lines: ';
  }

  .editor-statusbar .words::before {
    content: 'words: ';
  }

  .editor-statusbar .characters::before {
    content: 'characters: ';
  }

}